activate
__pycache__
config.json
memories/*
!memories/.gitkeep
conversations/*
!conversations/.gitkeep
logs/*
!logs/.gitkeep
.ada_history
tmp
.ada
!.ada/.gitkeep
!.ada/llms
!.ada/llms/.gitkeep
!.ada/voices
!.ada/voices/.gitkeep